.search{
  display: flex;
  background: var(--gray10);
  align-items: center;
  border-radius: 4px;  
  overflow: hidden;

}

.search input{
  border: none;
  background: var(--gray10);
  padding-block: .625rem;
  padding-inline-start: 2.5rem;
  padding-inline-end: 1rem;

}

.search i{
  position: absolute;
  font-size: 1rem;
  padding-inline-start: .75rem;
  
}